<!DOCTYPE HTML>
<html ng-app="myCalculator">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/calculator.css">
  <script src="assets/angular.min.js"></script>
  <script src="assets/calculator.js"></script>
  <title>BulbCompare.com</title>
</head>

<body>
  <div id="myCalculator" ng-controller="CalculatorController as CalcCtrl">
    <h1>BulbCompare.com</h1>
    <h2>Compare the cost of different types of bulb</h2>
    <main>
      <section class="inc">
        <div>
          <h4>Incandescent</h4>
          <p>{{CalcCtrl.incWattage}}</p>
          <p>{{CalcCtrl.incCost}}</p>
          <p>{{CalcCtrl.incLife}}</p>
          <p>{{CalcCtrl.inc10yCost}}</p>
        </div>
      </section>
      <section class="hal">
        <div>
          <h4>Halogen</h4>
          <p>{{CalcCtrl.halWattage}}</p>
          <p>{{CalcCtrl.halCost}}</p>
          <p>{{CalcCtrl.halLife}}</p>
          <p>{{CalcCtrl.hal10yCost}}</p>
        </div>
      </section>
      <section class="cfl">
        <div>
          <h4>CFL</h4>
          <p>{{CalcCtrl.cflWattage}}</p>
          <p>{{CalcCtrl.cflCost}}</p>
          <p>{{CalcCtrl.cflLife}}</p>
          <p>{{CalcCtrl.cfl10yCost}}</p>
        </div>
      </section>
      <section class="led">
        <div>
          <h4>LED</h4>
          <p>{{CalcCtrl.ledWattage}}</p>
          <p>{{CalcCtrl.ledCost}}</p>
          <p>{{CalcCtrl.ledLife}}</p>
          <p>{{CalcCtrl.led10yCost}}</p>
        </div>
      </section>
    </main>

    <form>
      <div>
        <h4>Lumens</h4>
        <p>Brightness <br>of bulb</p>
        <select ng-change="CalcCtrl.calculate()" ng-model="CalcCtrl.currentLumens"
                ng-options="o for o in CalcCtrl.lumenOptions">
        </select>
      </div>
      <div>
        <h4>kWh</h4>
        <p>Kilowatt-hour <br>cost</p>
        <input type="number" ng-change="CalcCtrl.calculate()" ng-model="CalcCtrl.currentCost"> pence
      </div>
      <div>
        <h4>Hours</h4>
        <p>Usage <br>per day</p>
        <input type="number" ng-change="CalcCtrl.calculate()" ng-model="CalcCtrl.currentHours">
      </div>
    </form>
    <p><small>Fork this web app on
      <a href="https://github.com/SteveWooding/angular-calc-tool.git">GitHub</a>.</small></p>

  </div>

</body>

</html>
