/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:700);

#myCalculator {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 24px;
  max-width: 800px;
}

#myCalculator main {
  background-color: #444;
}

#myCalculator main section {
  width: 25%;
  float: left;
  text-align: center;
  padding-top: 110px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center 5px;
  background-size: 63px 100px;
}

/* Put empty content after the main tag and
   clear the float left of the section tags. */
#myCalculator main::after {
  content: '';
  display: block;
  clear: both;
}

#myCalculator main section.inc {
  background-color: #ba2d2d;
  background-image: url(images/bulb_inc.svg);
}

#myCalculator main section.hal {
  background-color: #de6615;
  background-image: url(images/bulb_hal.svg);
}

#myCalculator main section.cfl {
  background-color: #efc20f;
  background-image: url(images/bulb_cfl.svg);
}

#myCalculator main section.led {
  background-color: #36b23c;
  background-image: url(images/bulb_led.svg);
}

#myCalculator main section > div {
  padding: 5px 0;
  background-color: rgba(0,0,0,.15);
}

#myCalculator main h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}

#myCalculator main p {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
}

/* Target the price, which is a p tag imediately after another p tag */
#myCalculator main p + p {
  font-size: 1em;
  font-weight: 300;
}

/* Display unit of power after number. */
#myCalculator main p::after {
  content: 'W';
  padding-left: 4px;
}

/* Display currency unit. */
#myCalculator main p + p::before {
  content: '£';
}

/* Display unit of time */
#myCalculator main p + p::after {
  content: 'per year';
  color: rgba(255,255,255,.5);
  padding-left: 4px;
}

/* Styles for the form elements. */
#myCalculator form {
  background-color: #000;
  margin: 0;
  padding: 10px 0px;
}

/* Don't show the line breaks by default. Later rule with show them on small
   screens.*/
#myCalculator form br {
  display: none;
}

/* Put the 3 form sections on one row with a float left. */
#myCalculator form > div {
  color: #fff;
  width: 33%;
  float: left;
  text-align: center;
  padding: 10px 0 5px 0;
}

/* Clear the float lefts after the form. */
#myCalculator form::after {
  content: '';
  display: block;
  clear: both;
}